.hero {
  margin-bottom: 1rem;
}

.hero-club {
  background-image: url("../images/about/club.jpg");
  background-position: center center;
}

.hero-mc {
  background-image: url("../images/about/mc.jpg");
  background-position: center center;
  min-height: 85vh;
  padding: 24rem 1rem 1rem 1rem;
}
